html,
body,
#root {
  height:100%;
  min-height:100%;
  min-width:100%;
  margin:0;
  padding:0;
}

.layout-center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}

.page-login {
  background:#000 url("./image.jpg") no-repeat;
  background-size:cover;
  height:100vh;
}

.login-form {
  width:300px;
  padding:32px;
  border-radius:10px;
  background-color:#fff;
  box-shadow:0 4px 16px rgb(0, 0, 0);
  font-family:sans-serif;
  letter-spacing:1px;
}

.form-input,
.button {
  font-family:sans-serif;
  letter-spacing:1px;
  font-size:16px;
}

.form-title {
  font-family:Montserrat;
  margin:0 0 30px 0;
  font-weight:normal;
  color:#404a50;
}

.form-group {
  position:relative;
  margin-bottom:25px;
}

.form-input {
  padding:0 0 10px 5px;
  border:none;
  border-bottom:1px solid #e0e0e0;
  background-color:transparent;
  outline:none;
  transition:0.3s;
  width:100%;
}

.form-input::placeholder {
  color:#b5bdc2;
}

.form-input:focus {
  border-bottom:1px solid #ff518b;
}

.button {
  padding:10px 20px;
  border-radius:5px;
  border:none;
  color:#fff;
  background-color:#ff518b;
  cursor:pointer;
  outline:none;
  transition:0.3s;
  margin-top:10px;
  margin-bottom:10px;
}

.button:focus,
.button:hover {
  background-color:#5bbdf5;
}
.button:disabled {
  background-color:#CCC;
  cursor:auto;
}

.links {
  font-size:small;
}

a:link {
  color:#a3949a;
  text-decoration:none;
}

a:visited {
  color:#a3949a;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  color:rgb(120, 102, 187);
}

a:active {
  color:rgb(53, 42, 94);
}

.form-error {
  background-color:#fee;
  border:1px solid #faa;
  color:#f08080;
  padding:10px 15px;
  margin-bottom:25px;
  border-radius:3px;
}

.request-message {
  display:inline-block;
  color:#ff518b;
  margin-left: 10px;
}

.happy-end-message {
  background-color:#ddffcb;
  color:#2f723d;
  padding:10px 15px;
  margin-bottom:25px;
  border-radius:8px;
}

.happy-end-window {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.header {
  width:100%;
  height: 90px;
  background-color: white;
  box-shadow:  0px 0px 10px 10px rgba(255, 192, 192, 0.3);
}

.avatar-image {
  width:50%;
  border-radius:100px;
  border:3px solid #faa;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  font-family: Montserrat;
  font-size:20px;
}

.exit {
  margin-top:70px;
}